@import url(https://fonts.googleapis.com/css?family=Rozha+One);/*------------------------------------*	#ITEM-GRID 
\*------------------------------------*/
.item-heading {
  font-family: "Rozha One", Georgia, serif;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.55rem;
}

.item-sub-heading {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
}

.track-list h2 {
  cursor: pointer;
}

.track-list h2:hover {
  color: #168dec;
}

.track-list h2 span {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  display: inline-block;
}

.track-list h2 span::before {
  font-size: 0.75rem;
  content: "\25BA";
}

.track-list.expanded h2 span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.track-list.expanded ol {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

.track-list.expanded ol li:nth-of-type(1) {
  -webkit-transition: all 300ms 150ms ease-in;
  -o-transition: all 300ms 150ms ease-in;
  transition: all 300ms 150ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(2) {
  -webkit-transition: all 300ms 250ms ease-in;
  -o-transition: all 300ms 250ms ease-in;
  transition: all 300ms 250ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(3) {
  -webkit-transition: all 300ms 350ms ease-in;
  -o-transition: all 300ms 350ms ease-in;
  transition: all 300ms 350ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(4) {
  -webkit-transition: all 300ms 450ms ease-in;
  -o-transition: all 300ms 450ms ease-in;
  transition: all 300ms 450ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(5) {
  -webkit-transition: all 300ms 550ms ease-in;
  -o-transition: all 300ms 550ms ease-in;
  transition: all 300ms 550ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(6) {
  -webkit-transition: all 300ms 650ms ease-in;
  -o-transition: all 300ms 650ms ease-in;
  transition: all 300ms 650ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(7) {
  -webkit-transition: all 300ms 750ms ease-in;
  -o-transition: all 300ms 750ms ease-in;
  transition: all 300ms 750ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(8) {
  -webkit-transition: all 300ms 850ms ease-in;
  -o-transition: all 300ms 850ms ease-in;
  transition: all 300ms 850ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(9) {
  -webkit-transition: all 300ms 950ms ease-in;
  -o-transition: all 300ms 950ms ease-in;
  transition: all 300ms 950ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(10) {
  -webkit-transition: all 300ms 1050ms ease-in;
  -o-transition: all 300ms 1050ms ease-in;
  transition: all 300ms 1050ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(11) {
  -webkit-transition: all 300ms 1150ms ease-in;
  -o-transition: all 300ms 1150ms ease-in;
  transition: all 300ms 1150ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(12) {
  -webkit-transition: all 300ms 1250ms ease-in;
  -o-transition: all 300ms 1250ms ease-in;
  transition: all 300ms 1250ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(13) {
  -webkit-transition: all 300ms 1350ms ease-in;
  -o-transition: all 300ms 1350ms ease-in;
  transition: all 300ms 1350ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(14) {
  -webkit-transition: all 300ms 1450ms ease-in;
  -o-transition: all 300ms 1450ms ease-in;
  transition: all 300ms 1450ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(15) {
  -webkit-transition: all 300ms 1550ms ease-in;
  -o-transition: all 300ms 1550ms ease-in;
  transition: all 300ms 1550ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(16) {
  -webkit-transition: all 300ms 1650ms ease-in;
  -o-transition: all 300ms 1650ms ease-in;
  transition: all 300ms 1650ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(17) {
  -webkit-transition: all 300ms 1750ms ease-in;
  -o-transition: all 300ms 1750ms ease-in;
  transition: all 300ms 1750ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(18) {
  -webkit-transition: all 300ms 1850ms ease-in;
  -o-transition: all 300ms 1850ms ease-in;
  transition: all 300ms 1850ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(19) {
  -webkit-transition: all 300ms 1950ms ease-in;
  -o-transition: all 300ms 1950ms ease-in;
  transition: all 300ms 1950ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(20) {
  -webkit-transition: all 300ms 2050ms ease-in;
  -o-transition: all 300ms 2050ms ease-in;
  transition: all 300ms 2050ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(21) {
  -webkit-transition: all 300ms 2150ms ease-in;
  -o-transition: all 300ms 2150ms ease-in;
  transition: all 300ms 2150ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(22) {
  -webkit-transition: all 300ms 2250ms ease-in;
  -o-transition: all 300ms 2250ms ease-in;
  transition: all 300ms 2250ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(23) {
  -webkit-transition: all 300ms 2350ms ease-in;
  -o-transition: all 300ms 2350ms ease-in;
  transition: all 300ms 2350ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(24) {
  -webkit-transition: all 300ms 2450ms ease-in;
  -o-transition: all 300ms 2450ms ease-in;
  transition: all 300ms 2450ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(25) {
  -webkit-transition: all 300ms 2550ms ease-in;
  -o-transition: all 300ms 2550ms ease-in;
  transition: all 300ms 2550ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(26) {
  -webkit-transition: all 300ms 2650ms ease-in;
  -o-transition: all 300ms 2650ms ease-in;
  transition: all 300ms 2650ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(27) {
  -webkit-transition: all 300ms 2750ms ease-in;
  -o-transition: all 300ms 2750ms ease-in;
  transition: all 300ms 2750ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(28) {
  -webkit-transition: all 300ms 2850ms ease-in;
  -o-transition: all 300ms 2850ms ease-in;
  transition: all 300ms 2850ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(29) {
  -webkit-transition: all 300ms 2950ms ease-in;
  -o-transition: all 300ms 2950ms ease-in;
  transition: all 300ms 2950ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list.expanded ol li:nth-of-type(30) {
  -webkit-transition: all 300ms 3050ms ease-in;
  -o-transition: all 300ms 3050ms ease-in;
  transition: all 300ms 3050ms ease-in;
  position: relative;
  top: 0;
  opacity: 1;
}

.track-list ol {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  position: relative;
}

.track-list ol li {
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 200;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0ms ease-in;
  -o-transition: all 0ms ease-in;
  transition: all 0ms ease-in;
}

.item-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-column-align: start;
      justify-items: start;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  margin-bottom: 5rem;
  --item-spacing: 1.25rem;
}

@media (max-width: 824px) {
  .item-grid {
    --item-spacing: 1.25rem;
  }
}

@media (max-width: 420px) {
  .item-grid {
    --item-spacing: 1.25rem;
  }
}

.item-grid .link-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: var(--item-spacing);
}

.item-grid .item-grid__heading {
  position: relative;
  font-size: 3.5em;
  -ms-grid-column: 3;
      grid-column-start: 3;
  width: 300%;
  margin: 0;
  margin-left: calc(-200% - 2.5rem * 2);
  text-align: left;
  line-height: 1.5;
  z-index: 0;
  border: none;
}

@media (max-width: 824px) {
  .item-grid .item-grid__heading {
    font-size: 2em;
  }
}

.item-grid .item-grid__heading.item-grid__heading-dark-blue {
  color: #0b2a44;
}

.item-grid .item-grid__heading span {
  padding: 0 1rem;
}

.item-grid .item-grid__heading:before {
  content: "";
  height: 4px;
  width: calc(100% + 2.5rem * 3);
  position: absolute;
  top: calc(50% - 2px);
  left: -2.5rem;
  background-color: #ea444e;
  z-index: -1;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .item-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .item-grid .item-grid__heading {
    width: 200%;
    margin-left: calc(-100% - 2.5rem);
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .item-grid .item-grid__heading:before {
    width: calc(100% + $padding-default * 2);
  }
}

@media (max-width: 991px) {
  .item-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .item-grid .item-grid__heading {
    width: 99%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    margin-left: 0;
  }
}

.item-grid .item {
  width: 100%;
  padding: var(--item-spacing);
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.item-grid .item:hover {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.11), 0 15px 30px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.11), 0 15px 30px 0 rgba(0, 0, 0, 0.08);
}

.item-grid .item header {
  margin: 0 0 var(--item-spacing) 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 420px) {
  .item-grid .item header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item-grid .item header .item-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-grid .item header img {
  max-width: 220px;
  width: 100%;
  margin-right: var(--item-spacing);
}

@media screen and (max-width: 1050px) and (min-width: 768px) {
  .item-grid .item header img {
    max-width: 110px;
  }
}

@media screen and (max-width: 575px) {
  .item-grid .item header img {
    max-width: 70px;
  }
}

@media screen and (max-width: 420px) {
  .item-grid .item header img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: var(--item-spacing);
  }
}
/*------------------------------------*	#MAIN 
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #EEEBE9;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #0b2a44;
  -webkit-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
  text-decoration: underline;
}

a:hover {
  color: #168dec;
}

.background-cover__blue a {
  color: #EEEBE9;
}

.background-cover__blue a:hover {
  color: #168dec;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.33em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Rozha One", Georgia, serif;
}

h1.sans, h2.sans, h3.sans, h4.sans, h5.sans, h6.sans {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h1.heading {
  border-bottom: 8px solid;
  font-size: 4em;
}

h2.heading {
  border-bottom: 4px solid;
  font-size: 2em;
}

.heading {
  color: #EEEBE9;
  margin-bottom: 0.5em;
}

@media (max-width: 420px) {
  .heading {
    font-size: 2em;
  }
}

.heading-dark {
  color: #0b2a44;
}

.circle-text {
  position: absolute;
  margin: 0;
  padding: 0 30px;
  color: white;
  z-index: 1;
}

@media screen and (min-height: 415px) {
  .circle-text {
    padding: 0 80px;
    font-size: 0.75em;
  }
}

@media (max-width: 420px) {
  .circle-text.circle-text__home {
    background-color: #0b2a44;
  }
}

.full-page-container {
  padding: 2.5rem;
}

@media (max-width: 420px) {
  .full-page-container {
    padding: 1.25rem;
  }
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-container__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-container__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

/*------------------------------------*	#MOBILE-MENU
\*------------------------------------*/
.menu-button {
  font-family: "Rozha One", Georgia, serif;
  z-index: 3;
  border-top: 2px solid #168dec;
  display: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-button.open {
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-animation: mob-menu-in 500ms forwards;
       -o-animation: mob-menu-in 500ms forwards;
          animation: mob-menu-in 500ms forwards;
}

.menu-button.open a {
  color: #EEEBE9;
  width: 100%;
  text-align: right;
  background: -webkit-gradient(linear, left top, right top, from(rgba(11, 43, 69, 0)), color-stop(50%, rgba(11, 43, 69, 0.75)));
  background: -webkit-linear-gradient(left, rgba(11, 43, 69, 0) 0%, rgba(11, 43, 69, 0.75) 50%);
  background: -o-linear-gradient(left, rgba(11, 43, 69, 0) 0%, rgba(11, 43, 69, 0.75) 50%);
  background: linear-gradient(to right, rgba(11, 43, 69, 0) 0%, rgba(11, 43, 69, 0.75) 50%);
}

.menu-button.music a {
  color: #EEEBE9;
}

.menu-button.music:not(.open) a {
  background-color: #103d63;
}

.menu-button a {
  line-height: 2em;
  padding: 0.33rem 2rem;
  margin: 0;
  color: #0b2a44;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 824px) {
  .menu-button {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu-button a {
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-height: 415px) {
  .menu-button {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu-button a {
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
  }
}

/*------------------------------------*	#NAV 
\*------------------------------------*/
.nav {
  font-family: "Rozha One", Georgia, serif;
  text-align: right;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0 1rem;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav.desktop {
  position: absolute;
  right: 0;
  top: 0;
}

.nav.desktop.music {
  background-color: #103d63;
}

.nav.desktop.music li a {
  color: #EEEBE9;
}

@media (max-width: 824px) {
  .nav.desktop {
    display: none;
  }
}

.nav.mobile {
  position: absolute;
  z-index: 2;
  width: auto;
  height: 100vh;
  background-color: #168dec;
  -webkit-box-shadow: 0px 0px 245px rgba(9, 9, 9, 0.36);
          box-shadow: 0px 0px 245px rgba(9, 9, 9, 0.36);
  border-right: 15px solid #abd2f1;
}

@media screen and (min-width: 824px) {
  .nav.mobile {
    display: none;
  }
}

@media screen and (max-height: 420px) {
  .nav.mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav li {
  list-style: none;
}

.nav li a {
  line-height: 2.5em;
  margin: 0.33rem 1rem;
  color: #0b2a44;
  position: relative;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}

.nav li a.active:before {
  opacity: 1;
  -webkit-transform: scale(1, 0.15);
      -ms-transform: scale(1, 0.15);
       -o-transform: scale(1, 0.15);
          transform: scale(1, 0.15);
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.nav li a:after {
  content: '';
  -webkit-transition: all 200ms 750ms;
  -o-transition: all 200ms 750ms;
  transition: all 200ms 750ms;
  opacity: 0;
  background-color: #168dec;
  height: 100%;
  width: 0.25rem;
  position: absolute;
  right: -0.25rem;
  bottom: 0;
}

.nav li a:before {
  content: '';
  border-radius: 2px;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
       -o-transform: scale(0, 1);
          transform: scale(0, 1);
  opacity: 0.5;
  -webkit-transition: all 250ms cubic-bezier(0.9, 0.04, 0.06, 0.97);
  -o-transition: all 250ms cubic-bezier(0.9, 0.04, 0.06, 0.97);
  transition: all 250ms cubic-bezier(0.9, 0.04, 0.06, 0.97);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 100%;
  background-color: #168dec;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0rem;
}

.nav li a:hover:after {
  opacity: 1;
  -webkit-animation: blink 850ms 350ms ease infinite;
       -o-animation: blink 850ms 350ms ease infinite;
          animation: blink 850ms 350ms ease infinite;
}

.nav li a:hover:before {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
       -o-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 0.5;
}

@media (max-width: 824px) {
  .nav {
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #168dec;
  }
  .nav li a {
    color: #EEEBE9;
  }
  .nav li a.active {
    border-bottom-color: #0b2a44;
  }
}

.notice {
  background-color: #EEEBE9;
  padding: 0.75em;
}

.notice.error {
  color: #ea444e;
  background-color: #ded9d5;
}

/*------------------------------------*	#COVER-BACKGROUND 
\*------------------------------------*/
.background-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}

.background-blue {
  background-color: #0b2a44;
  color: #EEEBE9;
}

.background-blue .page-header {
  background-color: #103d63;
}

.background-pearl {
  color: #0b2a44;
  background-color: #EEEBE9;
}

.background-pearl .page-header {
  background-color: #ded9d5;
}

.dark-blue-bkg {
  background: #0b2a44;
}

.pearl-bkg {
  background: #EEEBE9;
}

/*------------------------------------*	#SINGLE-RELEASE 
\*------------------------------------*/
.single-release {
  max-width: 750px;
}

.description {
  white-space: pre-line;
  font-size: 1.12rem;
  line-height: 1.475;
}

.release-cover__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 12rem;
}

@media (max-width: 824px) {
  .release-cover__container {
    margin-right: 0rem;
  }
}

.release-cover__container img {
  max-width: 500px;
}

/*------------------------------------*	#BUTTON 
\*------------------------------------*/
.button {
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  display: inline-block;
  color: #ffffff;
  font-size: 1em;
  padding: 0.75em 0.75em;
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}

.button.light-blue {
  background-color: #168dec;
}

.button.rounded {
  border-radius: 4px;
}

.button:hover {
  padding: 0.55em 0.75em;
  border-bottom: 0.2em solid #168dec;
  color: #0b2a44;
  background-color: #bbdef9;
}

.viewport-half {
  width: 45vw;
  height: 100vh;
  margin-left: 10vw;
  position: relative;
}

.logo__svg {
  width: 12vw;
  -webkit-clip-path: border-box;
          clip-path: border-box;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  -o-transition: -o-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in, -o-transform 400ms ease-in;
}

.logo__svg:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 700ms ease-out;
  transition: -webkit-transform 700ms ease-out;
  -o-transition: -o-transform 700ms ease-out;
  transition: transform 700ms ease-out;
  transition: transform 700ms ease-out, -webkit-transform 700ms ease-out, -o-transform 700ms ease-out;
}

/*------------------------------------*	#CIRCLE-BACKGROUND 
\*------------------------------------*/
.cs-circle {
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background-color: #168dec;
  -webkit-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  transition: all 1200ms ease;
}

.cs-circle.darker {
  background-color: #0b2a44;
  z-index: -1;
}

.cs-circle.cs-circle__outer {
  width: 110%;
  position: absolute;
  padding-top: 110%;
  background-color: #8cc7f6;
  z-index: -1;
}

.cs-circle.cs-circle__outer-1 {
  opacity: 0.4;
  width: 105%;
  position: absolute;
  padding-top: 105%;
  border: 3px solid #EEEBE9;
  background-color: #45a4f0;
  z-index: -2;
  -webkit-animation: circle-bobble 1.5s linear 1s alternate infinite;
       -o-animation: circle-bobble 1.5s linear 1s alternate infinite;
          animation: circle-bobble 1.5s linear 1s alternate infinite;
}

.cs-circle.cs-circle__outer-2 {
  opacity: 0.4;
  width: 110%;
  position: absolute;
  padding-top: 110%;
  border: 3px solid #EEEBE9;
  background-color: #74bbf4;
  z-index: -3;
  -webkit-animation: circle-bobble 1.5s linear 2s alternate infinite;
       -o-animation: circle-bobble 1.5s linear 2s alternate infinite;
          animation: circle-bobble 1.5s linear 2s alternate infinite;
}

.cs-circle.cs-circle__outer-3 {
  opacity: 0.4;
  width: 115%;
  position: absolute;
  padding-top: 115%;
  border: 3px solid #EEEBE9;
  background-color: #a3d2f8;
  z-index: -4;
  -webkit-animation: circle-bobble 1.5s linear 3s alternate infinite;
       -o-animation: circle-bobble 1.5s linear 3s alternate infinite;
          animation: circle-bobble 1.5s linear 3s alternate infinite;
}

.cs-circle.cs-circle__outer-4 {
  opacity: 0.4;
  width: 120%;
  position: absolute;
  padding-top: 120%;
  border: 3px solid #EEEBE9;
  background-color: #d3e9fb;
  z-index: -5;
  -webkit-animation: circle-bobble 1.5s linear 4s alternate infinite;
       -o-animation: circle-bobble 1.5s linear 4s alternate infinite;
          animation: circle-bobble 1.5s linear 4s alternate infinite;
}

/*------------------------------------*	#HEADINGS 
\*------------------------------------*/
.page-header {
  margin-top: 0;
  padding-left: 2.5rem;
  padding-top: 9rem;
  padding-bottom: 0rem;
}

@media (max-width: 420px) {
  .page-header {
    padding-right: 1.25rem;
  }
}

@media (max-width: 420px) {
  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1.25rem;
  }
}

.page-header h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 6em;
}

@media (max-width: 824px) {
  .page-header h1 {
    font-size: 3.5em;
  }
}

.page-header h1.jumbo-heading {
  font-family: "Rozha One", Georgia, serif;
  font-size: 6em;
  margin-top: 1em;
  font-weight: 600;
}

@media (max-width: 824px) {
  .page-header h1.jumbo-heading {
    font-size: 3.5em;
  }
}

.page-header h2 {
  font-size: 4em;
}

@media (max-width: 824px) {
  .page-header h2 {
    font-size: 2.25em;
  }
}

/*------------------------------------*	#KEYFRAME-ANIMATIONS 
\*------------------------------------*/
@-webkit-keyframes circle-bobble {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  100% {
    -webkit-transform: translateY(5px) scale(1.01);
            transform: translateY(5px) scale(1.01);
  }
}
@-o-keyframes circle-bobble {
  0% {
    -o-transform: translateY(0) scale(1);
       transform: translateY(0) scale(1);
  }
  100% {
    -o-transform: translateY(5px) scale(1.01);
       transform: translateY(5px) scale(1.01);
  }
}
@keyframes circle-bobble {
  0% {
    -webkit-transform: translateY(0) scale(1);
         -o-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  100% {
    -webkit-transform: translateY(5px) scale(1.01);
         -o-transform: translateY(5px) scale(1.01);
            transform: translateY(5px) scale(1.01);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 8000;
    fill: transparent;
  }
  45% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

@-o-keyframes dash {
  0% {
    stroke-dashoffset: 8000;
    fill: transparent;
  }
  45% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 8000;
    fill: transparent;
  }
  45% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

@-webkit-keyframes dash-sparks {
  0% {
    fill: transparent;
    stroke-dashoffset: 8000;
  }
  100% {
    fill: #ffffff;
    stroke-dashoffset: 0;
  }
}

@-o-keyframes dash-sparks {
  0% {
    fill: transparent;
    stroke-dashoffset: 8000;
  }
  100% {
    fill: #ffffff;
    stroke-dashoffset: 0;
  }
}

@keyframes dash-sparks {
  0% {
    fill: transparent;
    stroke-dashoffset: 8000;
  }
  100% {
    fill: #ffffff;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes star {
  0% {
    fill: transparent;
    -webkit-transform: translate(-350px, 250px);
            transform: translate(-350px, 250px);
    -webkit-transition: all 200ms 1.5s ease;
    -o-transition: all 200ms 1.5s ease;
    transition: all 200ms 1.5s ease;
  }
  100% {
    -webkit-transform: translate(0px, 0.09px);
            transform: translate(0px, 0.09px);
    -webkit-transition: all 200ms  1.5s ease;
    -o-transition: all 200ms  1.5s ease;
    transition: all 200ms  1.5s ease;
  }
}

@-o-keyframes star {
  0% {
    fill: transparent;
    -o-transform: translate(-350px, 250px);
       transform: translate(-350px, 250px);
    -webkit-transition: all 200ms 1.5s ease;
    -o-transition: all 200ms 1.5s ease;
    transition: all 200ms 1.5s ease;
  }
  100% {
    -o-transform: translate(0px, 0.09px);
       transform: translate(0px, 0.09px);
    -webkit-transition: all 200ms  1.5s ease;
    -o-transition: all 200ms  1.5s ease;
    transition: all 200ms  1.5s ease;
  }
}

@keyframes star {
  0% {
    fill: transparent;
    -webkit-transform: translate(-350px, 250px);
         -o-transform: translate(-350px, 250px);
            transform: translate(-350px, 250px);
    -webkit-transition: all 200ms 1.5s ease;
    -o-transition: all 200ms 1.5s ease;
    transition: all 200ms 1.5s ease;
  }
  100% {
    -webkit-transform: translate(0px, 0.09px);
         -o-transform: translate(0px, 0.09px);
            transform: translate(0px, 0.09px);
    -webkit-transition: all 200ms  1.5s ease;
    -o-transition: all 200ms  1.5s ease;
    transition: all 200ms  1.5s ease;
  }
}

@-webkit-keyframes logo-in {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-o-keyframes logo-in {
  0% {
    -o-transform: translateY(-200px);
       transform: translateY(-200px);
  }
  100% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
  }
}

@keyframes logo-in {
  0% {
    -webkit-transform: translateY(-200px);
         -o-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes mob-menu-in {
  0% {
    width: 7em;
  }
  50% {
    height: 100%;
  }
  100% {
    width: 100%;
  }
}

@-o-keyframes mob-menu-in {
  0% {
    width: 7em;
  }
  50% {
    height: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes mob-menu-in {
  0% {
    width: 7em;
  }
  50% {
    height: 100%;
  }
  100% {
    width: 100%;
  }
}

/*------------------------------------*	#REACT-CSS-TRANSITIONS 
\*------------------------------------*/
.star-enter, .star-appear {
  fill: transparent;
  -webkit-transform: translate(-350px, 250px);
      -ms-transform: translate(-350px, 250px);
       -o-transform: translate(-350px, 250px);
          transform: translate(-350px, 250px);
  -webkit-transition: all 200ms 1.5s ease;
  -o-transition: all 200ms 1.5s ease;
  transition: all 200ms 1.5s ease;
}

.star-enter.star-enter-active, .star-appear.star-appear-active {
  fill: #ffffff;
  -webkit-transform: translate(0px, 0.09px);
      -ms-transform: translate(0px, 0.09px);
       -o-transform: translate(0px, 0.09px);
          transform: translate(0px, 0.09px);
  -webkit-transition: all 200ms  1.5s ease;
  -o-transition: all 200ms  1.5s ease;
  transition: all 200ms  1.5s ease;
}

.fadeZoom-enter, .fadeZoom-appear {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
       -o-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.01;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.fadeZoom-enter.fadeZoom-enter-active,
.fadeZoom-appear.fadeZoom-appear-active {
  opacity: 0.4;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.fadeZoom-exit {
  opacity: 0.4;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.fadeZoom-exit.fadeZoom-exit-active {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
       -o-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.01;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.zoom-enter, .zoom-appear {
  -webkit-transform: scale(6);
      -ms-transform: scale(6);
       -o-transform: scale(6);
          transform: scale(6);
}

.zoom-enter.zoom-enter-active,
.zoom-appear.zoom-appear-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1500ms cubic-bezier(1, 0.01, 0.3, 1);
  transition: -webkit-transform 1500ms cubic-bezier(1, 0.01, 0.3, 1);
  -o-transition: -o-transform 1500ms cubic-bezier(1, 0.01, 0.3, 1);
  transition: transform 1500ms cubic-bezier(1, 0.01, 0.3, 1);
  transition: transform 1500ms cubic-bezier(1, 0.01, 0.3, 1), -webkit-transform 1500ms cubic-bezier(1, 0.01, 0.3, 1), -o-transform 1500ms cubic-bezier(1, 0.01, 0.3, 1);
}

.zoom-exit {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.zoom-exit.zoom-exit-active {
  -webkit-transform: scale(6);
      -ms-transform: scale(6);
       -o-transform: scale(6);
          transform: scale(6);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(1, 0.01, 0.6, 1);
  transition: -webkit-transform 300ms cubic-bezier(1, 0.01, 0.6, 1);
  -o-transition: -o-transform 300ms cubic-bezier(1, 0.01, 0.6, 1);
  transition: transform 300ms cubic-bezier(1, 0.01, 0.6, 1);
  transition: transform 300ms cubic-bezier(1, 0.01, 0.6, 1), -webkit-transform 300ms cubic-bezier(1, 0.01, 0.6, 1), -o-transform 300ms cubic-bezier(1, 0.01, 0.6, 1);
}

.fade-enter, .fade-appear {
  opacity: 0;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.menuTranslate-exit.menuTranslate-exit-active {
  opacity: 0;
  -webkit-transform: perspective(200px) translate3d(-50px, 10px, 20px);
          transform: perspective(200px) translate3d(-50px, 10px, 20px);
  -webkit-transition: all 500ms cubic-bezier(0.79, 0.29, 0.37, 0.9);
  -o-transition: all 500ms cubic-bezier(0.79, 0.29, 0.37, 0.9);
  transition: all 500ms cubic-bezier(0.79, 0.29, 0.37, 0.9);
}

.menuTranslate-enter, .menuTranslate-appear {
  opacity: 0;
  -webkit-transform: perspective(200px) translate3d(-50px, 10px, 20px);
          transform: perspective(200px) translate3d(-50px, 10px, 20px);
}

.menuTranslate-enter.menuTranslate-enter-active,
.menuTranslate-appear.menuTranslate-appear-active {
  opacity: 1;
  -webkit-transform: perspective(0) translate3d(0, 0, 0);
          transform: perspective(0) translate3d(0, 0, 0);
  -webkit-transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
  -o-transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
  transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
}

.menuTranslate-exit {
  opacity: 0;
  -webkit-transform: perspective(-200px) translate3d(-50px, -10px, -50px);
          transform: perspective(-200px) translate3d(-50px, -10px, -50px);
  -webkit-transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
  -o-transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
  transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
}

.menuTranslate-exit.menuTranslate-exit-active {
  opacity: 0;
  -webkit-transform: perspective(-200px) translate3d(-50px, -10px, -50px);
          transform: perspective(-200px) translate3d(-50px, -10px, -50px);
  -webkit-transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
  -o-transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
  transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
}

.cls-1 {
  fill: #168dec;
}

.cls-2 {
  fill: none;
}

.cls-2, .cls-3 {
  stroke: #fff;
  stroke-miterlimit: 10;
}

.cls-3, .cls-4 {
  fill: #fff;
}

.stroke-1 {
  fill: none;
}

.blue-circle {
  fill: #168dec;
}

.stroke-2 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  stroke-dasharray: 8000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 6s ease forwards;
       -o-animation: dash 6s ease forwards;
          animation: dash 6s ease forwards;
}

.star {
  fill: #ffffff;
  -webkit-animation: star 1s ease forwards;
       -o-animation: star 1s ease forwards;
          animation: star 1s ease forwards;
}

.stroke-sparks {
  fill: none;
  -webkit-animation: dash-sparks 600ms ease 2s forwards;
       -o-animation: dash-sparks 600ms ease 2s forwards;
          animation: dash-sparks 600ms ease 2s forwards;
}

.fill-white {
  fill: #ffffff;
}

.logo-small {
  left: 0;
  top: 0;
  z-index: 2;
  margin: 1em 2.5rem;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: logo-in 1s ease forwards;
       -o-animation: logo-in 1s ease forwards;
          animation: logo-in 1s ease forwards;
}

.logo-small .logo-small__svg {
  width: 100px;
}

.social-link {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75em;
}

.social-link:hover {
  color: #EEEBE9;
}

.social-link:hover svg {
  fill: #EEEBE9;
}

.social-link img, .social-link svg {
  fill: #ffffff;
  width: 2em;
  padding-right: 0.75em;
}

@media screen and (max-width: 991px) and (min-height: 601px) {
  .viewport-half {
    width: 80vw;
    margin-left: 10vw;
  }
  .logo__svg {
    width: 80vw;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .viewport-half {
    width: 100vw;
    margin-left: 0vw;
    overflow: hidden;
  }
  .cs-circle {
    border-radius: 0;
  }
  .logo-small {
    margin: 0.5rem;
  }
  .logo-small .logo-small__svg {
    width: 50px;
  }
  .logo__svg {
    width: 100vw;
  }
  .blue-circle {
    fill: #0b2a44;
  }
}
