@import url('https://fonts.googleapis.com/css?family=Rozha+One');

$lightpearl: #EEEBE9;
$cs-lightblue: #168dec;
$cs-darkblue: #0b2a44;
$secondary: #ea444e;
$font-sans: "Helvetica Neue", Helvetica, sans-serif;
$font-serif: 'Rozha One', Georgia, serif;
*{
	box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
  background: $lightpearl;
  font-family: $font-sans;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}
img{
	width: 100%;
  height: auto;
}
p{
	font-size: 1.25em;
	font-weight: 200;
	letter-spacing: 1px;
	line-height: 1.33em;
	font-family: $font-sans;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: $font-serif;
}
.heading {
	color: $lightpearl;
	margin-bottom: 0.25em;
	border-bottom: 8px solid $lightpearl;
  font-size: 4em;
  @media screen and (max-width:420px) {
  	font-size: 2em;	
  }
}
.circle-text{
  position: absolute;
  margin: 0;
  padding: 0 80px;
  color: white;
  z-index: 1;

}
.full-page-container{
	margin-top: 130px;
  padding: 3em;
}
.flex-container{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.flex-container__column{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.flex-container__row{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.flex-center{
	align-items: center;
	justify-content: center;
}
.flex-start{
	align-items: center;
	justify-content: flex-start;
}
.menu-button{
		z-index: 3;
		border-top: 2px solid $cs-lightblue;
		display: none;
		justify-content: flex-end;
		&.music a {
	    	color: $lightpearl;
	    }
		a{
			line-height: 2em;
	    margin: 0.33rem 2rem;
	    color: $cs-darkblue;
	    font-size: 2em;
   		font-weight: 600;
	    text-decoration: none;
	  }
  @media screen and (max-width: 767px) {
		cursor: pointer;
		display: flex;
		flex:1;
    position: absolute;
    right: 0;
    top: 0;
    a{
    	margin: 0.33rem 1rem;
    }
	}
}
.nav {
	z-index: 1;
		display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 2rem;
    justify-content: flex-end;
    &.desktop{
    		position: absolute;
				right: 0;
	    	&.music {
	    	background-color: rgba(11, 42, 68, 0.67);
	    		li a {
		    	color: $lightpearl;
		    }
		  }
    	@media screen and (max-width: 767px ){
    		display: none;
    	}
    }

    &.mobile{
    	position: absolute;
    	z-index: 2;
    	width: auto;
    	height: 100vh;
    	background-color: #168dec;
    	box-shadow: 0px 0px 245px rgba(9, 9, 9, 0.36);
    	border-right: 15px solid #abd2f1;
    	@media screen and (min-width: 768px ){
    		display: none;
    	}
    	 @media screen and (max-height: 420px ){
    		flex-direction:row;
    	}
    }

	li{
		  list-style: none;

		a{
			font-family: $font-serif;
			line-height: 3em;
	    margin: 0.33rem 1rem;
	    color: $cs-darkblue;
			position: relative;
	    font-size: 2em;
   		font-weight: 600;
	    text-decoration: none;
			&.active{
				&:before{
					opacity:1;
					transform: scale(1, 0.15);
									transform-origin: 0 100%;

				}

			}
			&:after{
				content:'';
				transition: all 200ms 750ms;
				opacity: 0;
				background-color: $cs-lightblue;
				height: 100%;
				width: 0.25rem;
				position: absolute;
				right: -0.25rem;
				bottom: 0;
			}
			&:before{
				content:'';
				border-radius: 2px;
				transform: scale(0, 1);
				opacity:0.5;
				transition: all 250ms cubic-bezier(0.9, 0.04, 0.06, 0.97);
				transform-origin: 0 0;
				width: 100%;
				background-color: $cs-lightblue;
				height: 100%;
				position: absolute;
  			left: 0;
				top: 0rem;
			}
			&:hover{
				&:after{
					opacity: 1;
					animation: blink 850ms 350ms ease infinite;

				}
				&:before{
					transform: scale(1, 1);
					opacity: 0.5;
				}
			//	border-bottom: 0.75rem solid $cs-lightblue;

			}
		}
	}
	@keyframes blink {
	0% {
	  opacity: 0;
	}
	50%{
		opacity: 1;
	}
  100% {
	  opacity: 0;

  }
}
	  @media screen and (max-width: 767px) {
			width: 100vw;
	    height: 100vh;
	    flex-direction: column;
	    align-items: flex-end;
	    justify-content: center;
	    background-color: $cs-lightblue;
    li {

	    	a {
	    	color: $lightpearl;
	    	&.active{
	    		border-bottom-color:$cs-darkblue;
	    	}
	    }
  	}
	}
}
.background-cover{
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	overflow: scroll;
	&.background-cover__blue{
		background-color: $cs-darkblue;
		color: $lightpearl;
	}
}
.dark-blue-bkg{
	background: $cs-darkblue;
}
.item-grid{
	display: grid;
	grid-template-rows: auto;
	justify-items: start;
 	grid-template-columns: repeat(3, 1fr);
  grid-gap:2rem;
  margin-bottom: 5rem;
  .item-grid__heading{
  	position: relative;
    grid-column-start: 3;
    width: 300%;
    margin: 0;
    margin-left: calc(-200% - 5rem);
    text-align: left;
    line-height: 1.5;
		z-index: 0;
		border: none;
    span {
      padding: 0 1rem;
    }
    &:before{
    	content: "";
    	height: 4px;
    	width: calc(100% + 8rem);
    	position: absolute;
    	top: calc(50% - 2px);
    	left: -3rem;
    	background-color: $secondary;
    	z-index: -1;
    	margin: 0 auto;
    }
    // &:after{
    // 		content: "";
    // 		background-color: $cs-darkblue;
    // 		width: 100%;
    // 		height: 100%;
    // }
  }
  @media screen and (max-width: 1600px){
		grid-template-columns: repeat(2, 1fr);
		.item-grid__heading{
			width: 200%;
    	margin-left: calc(-100% - 3rem);
			grid-column-start: 2;
			 &:before{
			 	    	width: calc(100% + 6rem);

			 }
		}
  }
  @media screen and (max-width: 768px){
		grid-template-columns: 1fr;
		.item-grid__heading{
			grid-column-start: 1;
			margin-left: 0;
		}
  }

	.item{
		width: 100%;
		//border-bottom: 2px solid $cs-lightblue;
   // padding-bottom: 2rem;
   padding: 2rem;
   background-color: darken($cs-darkblue, 3%);
    .track-list{
    	h2 {
    		cursor: pointer;
    		&:hover{
					color: $cs-lightblue;
    		}
    		span{
    			transform: rotate(0deg);
    			display: inline-block;
    				&::before{
    				font-size:0.75rem;
    				content:"\25ba";
    			}
    		}
    	}
    	&.expanded {
    		h2{
    			span{
    				transform: rotate(90deg);
    			}
    		}
    		ol{
    			visibility: visible;
    			opacity: 1;
    			transition: opacity 300ms ease-out;
    			@for $i from 1 through 30 {
	  & li:nth-of-type(#{$i}) {
    				transition: all 300ms #{$i}50ms ease-in;
						position: relative;
						top:0;
						opacity: 1;
					}
    		}
    	}
    }
    	ol{
				visibility: hidden;
				opacity: 0;
				transition: opacity 300ms ease-in;
				position: relative;
				li{
					line-height: 1.5;
					font-size: 1.25rem;
					font-weight: 200;
					position: absolute;
					top:0;
					opacity: 0;
					transition: all 0ms ease-in;
				}
			}
		}
		header{
			margin: 0 0 2rem 0;
			display: flex;
			align-items:flex-start;
		.item-info{
				flex-direction:row;
		}
		h1{
			font-family: $font-sans;
			font-size: 2rem;
			margin-top: 0;
		}
		h2{
			font-family: $font-sans;
			font-weight: 200;
		}
		img{
			max-width: 220px;
			width:100%;
			margin-right: 2rem;
					@media screen and (max-width: 1050px) and (min-width: 768px) {
				max-width: 110px;
			}
			@media screen and (max-width: 575px) {
				max-width: 70px;
			}
		}
	}
	}
}

.link-container{
	display: flex;
  flex-wrap: wrap;
	margin-bottom: 1.5rem;
}

/**** Button ****/

$button-vertical-padding: 0.55em;
$button-border-gap: 0.2em;
$button-horizontal-padding: 0.75em;

.button{
	transition: all 250ms ease;
	display: inline-block;
  color: #ffffff;
  font-size: 1em;
  padding: $button-vertical-padding + $button-border-gap $button-horizontal-padding;
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  &.light-blue{
  	background-color: $cs-lightblue;
	}
	&.rounded{
  	border-radius: 4px;
	}
  &:hover{
  	padding: $button-vertical-padding $button-horizontal-padding;
  	border-bottom: $button-border-gap solid $cs-lightblue;
  	color: $cs-darkblue;
  	background-color: lighten($cs-lightblue, 35%);
  }
}
.viewport-half{
  width: 45vw;
  height: 100vh;
  margin-left: 45vw;
	position: relative;

}

.logo__svg{
	width: 12vw;
	  clip-path: border-box;
    border-radius: 50%;
        	  transition: transform 400ms ease-in;

    &:hover{
    	transform: scale(1.05);
    	transition: transform 700ms ease-out;
    }
}

.cs-circle{
	border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
	background-color: $cs-lightblue;
	transition: all 1200ms ease;
	&.darker{
		background-color: $cs-darkblue;
		z-index: -1;
	}
	&.cs-circle__outer{
	  width: 110%;
	  position: absolute;
	  padding-top: 110%;
	  background-color: lighten($cs-lightblue, 25);
	  z-index: -1;
	}
	@for $i from 1 through 4 {
	  &.cs-circle__outer-#{$i} {
	  	opacity: 0.4;
	    width: 100% + $i * 5;
		  position: absolute;
		  padding-top: 100% + $i * 5;
		  border: 3px solid $lightpearl;
		  background-color: lighten($cs-lightblue, $i * 10);
		  z-index: -#{($i + 1)};
		  animation: circle-bobble 1.5s linear #{$i}s alternate infinite;
	  }
	}
}
   
@keyframes circle-bobble {
	0% {
	   transform: translateY(0) scale(1);	
	}
  100% {
     transform: translateY(5px) scale(1.01);	
  }
}

	.cls-1 {
	  fill: $cs-lightblue;
	}

	.cls-2 {
	  fill: none;
	}

	.cls-2, .cls-3 {
	  stroke: #fff;
	  stroke-miterlimit: 10;
	}

	.cls-3, .cls-4 {
	  fill: #fff;
	}


.stroke-1{
	fill: none;
}
.blue-circle{
	//fill: darken($cs-lightblue, 5);
	fill: $cs-lightblue;
}
.stroke-2{

	fill: none;
	stroke: #ffffff;
	stroke-miterlimit: 10;
	stroke-width: 5px;

	stroke-dasharray: 8000;
  stroke-dashoffset: 1000;
  animation: dash 6s ease forwards;

}

.star{
  	fill: #ffffff;
  	animation: star 1s ease forwards;
  }

.stroke-sparks{
	fill: none;
	
  animation: dash-sparks 600ms ease 2s forwards;
}
.fill-white{
	fill: #ffffff;
}



@keyframes dash {
	0% {
	    stroke-dashoffset: 8000;
    	fill: transparent;	
	}
	45% {
			fill: transparent;	
	}
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

@keyframes dash-sparks {
	0% {
			fill: transparent;
	    stroke-dashoffset: 8000;

	}
  100% {
  		fill: #ffffff;
    stroke-dashoffset: 0;


  }
}
@keyframes star {
	0% {
			fill: transparent;
			transform: translate(-350px, 250px);
		  transition: all 200ms 1.5s ease;
		}
		100% {
			transform: translate(0px, 0.09px);
		  transition: all 200ms  1.5s ease;
		}
}
.star-enter, .star-appear {

				fill: transparent;
  			transform: translate(-350px, 250px);
		  transition: all 200ms 1.5s ease;

}



.star-enter.star-enter-active, .star-appear.star-appear-active {
  	fill: #ffffff;
		transform: translate(0px, 0.09px);
		  transition: all 200ms  1.5s ease;

  }


.fadeZoom-enter, .fadeZoom-appear {
  transform: scale(0.7);
  opacity: 0.01;
		  transition: all 500ms ease;

}

.fadeZoom-enter.fadeZoom-enter-active, .fadeZoom-appear.fadeZoom-appear-active {
	opacity: 0.4;
  transform: scale(1);
  transition: all 500ms ease;
}

.fadeZoom-exit {
	opacity: 0.4;
  transform: scale(1);
}

.fadeZoom-exit.fadeZoom-exit-active {
  transform: scale(0.7);
  opacity: 0.01;
  transition: all 500ms ease;
}


.zoom-enter, .zoom-appear {
  transform: scale(6);
}

.zoom-enter.zoom-enter-active, .zoom-appear.zoom-appear-active {
  transform: scale(1);
  transition: transform 1500ms  cubic-bezier(1, 0.01, 0.3, 1);
}

.zoom-exit {
  transform: scale(1);
}

.zoom-exit.zoom-exit-active {
  transform: scale(6);
  transition: transform 300ms cubic-bezier(1, 0.01, 0.6, 1);
}

.fade-enter, .fade-appear {
  opacity: 0;
}

.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 0;
    transition: opacity 500ms ease-in;

}

.menuTranslate-exit.menuTranslate-exit-active {
	opacity: 0;
  transform: perspective(200px) translate3d(-50px, 10px, 20px);
  transition: all 500ms cubic-bezier(0.79, 0.29, 0.37, 0.9);
}


.menuTranslate-enter, .menuTranslate-appear {
	opacity: 0;
  transform:perspective(200px) translate3d(-50px, 10px, 20px);

}

.menuTranslate-enter.menuTranslate-enter-active, .menuTranslate-appear.menuTranslate-appear-active {
	opacity: 1;
  transform:perspective(0) translate3d(0, 0, 0);
   transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
}

.menuTranslate-exit {
	opacity: 0;
  transform: perspective(-200px) translate3d(-50px, -10px, -50px);
  transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);

}

.menuTranslate-exit.menuTranslate-exit-active {
  opacity: 0;
  transform: perspective(-200px) translate3d(-50px, -10px, -50px);
  transition: all 500ms cubic-bezier(0.38, 0.03, 0, 0.99);
}

.logo-small{
	left: 0;
	top: 0;
	z-index:2;
	margin: 1rem 3rem;
	position: absolute;
	display: flex;
	animation: logo-in 1s ease forwards;
	.logo-small__svg{
		width: 100px;
	}
}

@keyframes logo-in {
	0% {
	  transform: translateY(-200px);
	}
  100% {
	  transform: translateY(0px);

  }
}

.social-link{
	color: #ffffff;
	font-weight: 300;
	text-decoration: none;
	display: flex;
	align-items: center;
  margin-bottom: 0.75em;
		&:hover{
			color: $lightpearl;
		}
		img{
			width: 1.75em;
			padding-right: 0.75em;
		}
}

@media screen and (max-width: 991px) and (min-height: 601px) {
	.viewport-half{
		width: 80vw;
    margin-left: 10vw;
	}
	.logo__svg{
		width: 80vw;
	}
}
@media screen and (max-width: 991px) {
	body{
		font-size: 14px;
	}
}


@media screen and (max-width: 420px) {
	.viewport-half{
		width: 100vw;
    margin-left: 0vw;
    overflow: hidden;
	}
	.cs-circle{
		border-radius: 0;
	}
	.logo-small{
    margin: 1rem;
    .logo-small__svg{
			width: 75px;
		}
	}
	.logo__svg{
		width: 100vw;
	}
	.circle-text{
		padding: 0 30px;
	}
	.blue-circle{
		fill: $cs-darkblue;
	}
}